.cities {
  margin-top: 20px;
  width: 80vw;
}

.citywrap {
  display: flex;
  flex-direction: row;
}

.char {
  background-color: darkgrey;
  color: white;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin: 2px;
  text-align: center;
  padding: 10px 5px 0px 5px;
}

.blank {
  background-color: rgb(119, 119, 119);
  color: white;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin: 2px;
  text-align: center;
  padding: 10px 5px 0px 5px;
}

.inputwrap {
  justify-content: left;
  width: 800px;
}