.citywrap {
  display: flex;
  flex-direction: row;
}

.char {
  background-color: darkgrey;
  color: white;
  width: 30px;
  height: 30px;
  margin: 2px;
  text-align: center;
  padding: 10px 5px 0px 5px;
}

.blank {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  margin: 2px;
  text-align: center;
  padding: 10px 5px 0px 5px;
}