.cities {
  margin-top: 20px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
}

.citywrap {
  justify-content: left;
  display: flex;
  flex-direction: row;
}

.char, .blank {
  color: white;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin: 1px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.char {
  background-color: rgb(119, 119, 119);
}

.blank {
  background-color: rgb(179, 179, 179);
}

#directions {
  display: inline;
  font-size: 20px;
}

#cityName {
  display: flex;
  flex-direction: row;
  max-width: calc(80vw - 190px);
  overflow: scroll;
}

#distanceHead {
  width: 120px;
}

#cityHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cityRow {
  margin-top: 10px;
  height: 50px;
}

.replay {
  margin-top: 10px;
}

.gameinfo {
  margin: 0 auto;
  padding: 30px;
}

.worldMap, .worldCanvas {
  width: 400px;
  position: absolute;
  left: 0;
  top: 0;
}


.worldDiv {
  position: relative;
  height: 200px;
  width: 400px;
  margin: 0 auto;
}

.inputwrap {
  justify-content: center;
  background-color: white;
  border-radius: 2px;
}

#paperElement {
  background-color: rgb(233, 232, 232);
  position: relative;
  min-height: calc(100vh - 100px);
  margin-bottom: 50px;
}

.arrowCont {
  position: absolute;
  left: 0;
  top: 0;
}

#toggleButton {
  padding: 0px 10px 0px 10px;
  margin: 0;
}

