.bodywrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.error {
  color: red;
  font-weight: 500;
}

.spacer, .nav {
  height: 50px;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

table {
  border-spacing: 0px;
  background-color: rgb(238, 238, 238);
  padding: 0px;
}

button {
  margin: 5px;
  border: 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(161, 161, 161);
  color: white;
  font-weight: 800;
}