$backgroundColor: rgb(53, 53, 53);

.bodywrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.error {
  color: red;
  font-weight: 500;
}

.spacer, .nav {
  height: 50px;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

table {
  background-color: rgb(238, 238, 238);
}

button {
  margin: 5px;
  border: 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgb(161, 161, 161);
  color: white;
}

body {
  margin: 0;
  font-family: "Roboto";
  color: $backgroundColor;
  background-color: $backgroundColor;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
}

#errorPaper {
  width: 80vw;
  height: 100px;
  padding: 10px;
}

.titleChars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.titleChars .char {
  background-color: $backgroundColor;
  color: white;
  width: 25px;
  min-width: 25px;
  height: 25px;
  margin: 1px;
  text-align: center;
  padding: 12px 10px 8px 10px;
  font-weight: 800;
}

.splashwrap {
  width: 450px;
}

#muiButton {
  background-color: $backgroundColor;
}