.bodywrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.error {
  color: red;
  font-weight: 500;
}

.spacer, .nav {
  height: 50px;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

table {
  background-color: rgb(238, 238, 238);
}

button {
  margin: 5px;
  border: 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgb(161, 161, 161);
  color: white;
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: rgb(240, 240, 240);
}

a {
  text-decoration: none;
}

h1 {
  margin: 15px 0px 0px 0px;
}