@media only screen and (max-width: 550px) {
  #distanceHead {
    font-size: 10px;
    width: 20vw;
    min-width: 75px;
  }

  #cityHead {
    font-size: 10px;
    text-align: left;
  }

  #cityInfo {
    font-size: 11px;
  }

  .spacer, .nav {
    height: 20px;
  }

  #cityName {
    max-width: 50vw;
  }

  .char, .blank {
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin: 1px;
    padding: 3px 3px 2px 2px;
    font-size: 10px;
  }

  .cities {
    width: 90vw;
  }

  .worldMap, .worldCanvas, .worldDiv {
    width: 60vw;
    height: 30vw;
  }

  .titleChars .char {
  width: 15px;
  min-width: 15px;
  height: 15px;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  }

  .titleChars {
    padding: 15px;
  }

  .splashwrap {
    width: 90vw;
  }

  #toggleButton {
    font-size: 10px;
    padding: 0px 5px 0px 5px;
  }

  #formControl {
    width: 28ch;
  }
}

@media only screen and (max-width: 320px) {
  #formControl {
    width: 20ch;
  }

  #cityHead {
    flex-direction: column;
  }
}